<footer class="site-footer footer-subsites">
<div class="footer-subsite footer-subsite-conferences bold-underline-links">
<span class="presents"><strong>CSS-Tricks</strong> Presents</span>
📅 Upcoming <a href="https://conferences.css-tricks.com/">Front-End Conferences</a>
</div>
<div class="footer-subsite footer-subsite-serverless bold-underline-links">
<span class="presents"><strong>CSS-Tricks</strong> Presents</span>
<a href="https://serverless.css-tricks.com/">The Power of Serverless</a> for Front-End Developers
</div>
</footer> 