<div class="single-module single-module-Mailchimp module-4">
                  <div class="module">
                    <a href="//srv.buysellads.com/ads/click/x/GTND42Q7C6BD42QWCA7LYKQMF6YIP5QNCABIVZ3JCWAI42QWCV7I4KJKC6BILKQWCEADVK3EHJNCLSIZ">
                      <img src={{addata.ad_img}} alt="Ad for Mailchimp">
                    </a>
                  </div>
                  <div class="interlude">
                    <img src={{addata.ad_subimg}} class="avatar" height="80" width="80" alt="CSS-Tricks Star Logo">
                    <a href="//srv.buysellads.com/ads/click/x/GTND42Q7C6BD42QWCA7LYKQMF6YIP5QNCABIVZ3JCWAI42QWCV7I4KJKC6BILKQWCEADVK3EHJNCLSIZ">{{addata.ad_content}}</a>
                  </div>
                  <img src="https://ad.doubleclick.net/ddm/ad/N2434.3091281BUYSELLADS/B24226481.274026935;sz=1x1;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=?" alt=""><img src="https://pixel.adsafeprotected.com/rfw/st/450060/46150908/skeleton.gif&amp;network=BUYSELLADS" alt="">
</div>
