<div class="articles-and-rail">
    <aside class="entry-unrelated sidebar">
        <div id="all-ads">
            <app-ad-banner *ngFor="let addata of addata" [addata]='addata'></app-ad-banner>
            
        </div>
    </aside>
    <div class="articles">
        <app-article  *ngFor="let hero of heroes" [hero]='hero' ></app-article>
        
        <div class="bsap-doubles side-by-side">
<div id="bsap_1250418" class="bsap bsap_1250418" data-serve="CV7DV5V">
<div class="bsa_it one"><div class="bsa_it_ad ad0 odd ">
<a target="_blank" href="//srv.buysellads.com/ads/click/x/GTND42Q7C6BDL2J7CW7LYKQMF6YIP2QUCY7D6Z3JCWAI42J7CESIC5QKC6BILKQWF6ADEK3EHJNCLSIZ" rel="nofollow">
<span class="bsa_it_i">
<img alt="Color Ninja for Mac" src="https://s3.buysellads.com/creatives/f47c981a75f93444de1afcba36af2745-1589035049.png" width="120" height="90">
</span>
</a>
<a target="_blank" href="//srv.buysellads.com/ads/click/x/GTND42Q7C6BDL2J7CW7LYKQMF6YIP2QUCY7D6Z3JCWAI42J7CESIC5QKC6BILKQWF6ADEK3EHJNCLSIZ" rel="nofollow">
<span class="bsa_it_t">Color Ninja for Mac</span>
<span class="bsa_it_d">Picker, schemer and palette manager in one. Love it or your money back. </span>
</a> 
<div style="clear:both"></div>
</div><div class="bsa_it_ad ad1  even">
<a target="_blank" href="//srv.buysellads.com/ads/click/x/GTND42Q7C6BDL2J7CW7LYKQMF6YIP23ICK7DLZ3JCWAI42JMC6BDP2JKC6BILKQWF6ADEK3EHJNCLSIZ" rel="nofollow">
<span class="bsa_it_i">
<img alt="Instant GraphQL Backend" src="https://s3.buysellads.com/creatives/cbb43787eadf02013f447c779dba2b84-1567535990.png" width="120" height="90">
</span>
</a>
<a target="_blank" href="//srv.buysellads.com/ads/click/x/GTND42Q7C6BDL2J7CW7LYKQMF6YIP23ICK7DLZ3JCWAI42JMC6BDP2JKC6BILKQWF6ADEK3EHJNCLSIZ" rel="nofollow">
<span class="bsa_it_t">Instant GraphQL Backend</span>
<span class="bsa_it_d">Add state to your Javascript apps with FaunaDB. Generous free tier. Try now!</span>
</a>
<div style="clear:both"></div>
</div><span class="bsa_it_p">
<a href="https://www.buysellads.com/buy/detail/1098/zone/1250418?utm_source=site_1098&amp;utm_medium=website&amp;utm_campaign=imagetext&amp;utm_content=zone_1250418">ads by BSA</a>
</span>
</div>


</div>
    <app-article *ngFor="let hero of posts" [hero]='hero'></app-article>


</div>
        
        <a href="/archives/page/2/" class="button button-full-width">Keep browsing in the archives</a>
    
</div>
